@font-face {
  font-family: sans-serif-armenia;
  src: url("../fonts/sansArmenia.ttf");
}

@font-face {
  font-family: arm-all-allegro;
  src: url("../fonts/ArmAllegroU.ttf");
}

@font-face {
  font-family: brand-gyumri;
  src: url("../fonts/BraindGyumri.otf");
}

@font-face {
  font-family: montserrat-arm;
  src: url("../fonts/Montserratarm.otf");
}

@font-face {
  font-family: poqrik;
  src: url("../fonts/poqrik.ttf");
}

@font-face {
  font-family: shk-dzeragir;
  src: url("../fonts/SHK_Dzeragir.otf");
}

@font-face {
  font-family: vrdznagir;
  src: url("../fonts/Vrdznagir.otf");
}

:root {
  --color-1: #f1e6ee; /* Light background (e.g. cards, body) */
  --color-2: #ffb6b9; /* Soft rose (highlights, buttons) */
  --color-3: #fae3d9; /* Warm beige (sections, boxes) */
  --color-4: #bbded6; /* Cool mint (accents, headers) */
  --main-text-color: #23292e;
  --primary-text-color: #dfb3ae;
  --secondary-text-color: #e4bc62;
  --main-background-text-color: #ddded9;
  --fs-xs: 8px; /* extra small */
  --fs-sm: 12px; /* small */
  --fs-md: 16px; /* medium */
  --fs-lg: 20px; /* large */
  --fs-xl: 24px; /* extra large */
  --fs-2xl: 28px; /* 2x extra large */
  --fs-3xl: 32px; /* 3x extra large */
  --fs-4xl: 36px; /* 4x extra large */
  --fs-5xl: 40px; /* 5x extra large */
  --fs-6xl: 56px; /* 6x extra large */
  --fs-7xl: 72px; /* 7x extra large */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-1);
}

h1 {
  color: var(--main-background-text-color);
  line-height: 120vh;
  font-family: arm-all-allegro;
  font-size: var(--fs-7xl);
}

.header-container {
  width: 100%;
  height: 100vh;
  background-image: url("../images-heics/main.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header-title {
  text-align: center;
}

.header-image-wrapper {
  max-width: 125px;
}

.header-image-wrapper img {
  width: 100%;
  mix-blend-mode: color-burn;
}

.header-wedding-timer {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 20px);
  background-color: transparent;
  border-radius: 10px;
  font-size: var(--fs-lg);
  font-weight: bold;
  color: var(--main-background-text-color);
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.header-wedding-timer.visible {
  opacity: 1;
  transform: translate(-50%, 0);
}

.header-wedding-timer h3 {
  margin-bottom: 8px;
  text-align: center;
}

.countdown-timer {
  display: flex;
  gap: 8px;
}

.time-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-4xl);
  gap: 4px;
}

.time-card p:first-child {
  font-size: var(--fs-4xl);
  font-weight: bold;
}

.calendar-container > div {
  display: flex;
  justify-content: space-between;
  min-width: 320px;
}

.section-wedding-day-offer {
  height: auto;
  margin-bottom: 25px;
}

.section-wedding-day-offer p {
  font-size: var(--fs-2xl);
  text-align: center;
  font-family: poq;
  color: var(--main-text-color);
  opacity: 0.8;
}

.section-wedding-day-offer .day-on-calendar {
  width: 100%;
  justify-content: center;
  display: flex;
}
.section-wedding-day-offer .section-wedding-day {
  text-align: center;
  padding-top: 8px;
  margin-top: 16px;
  font-family: vrdznagir;
  font-size: var(--fs-5xl);
}

section {
  width: 100%;
  height: auto;
  padding: 4px;
  margin-top: 10px;
}

.image-card {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.image-card > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: translateX(0);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-left > img {
  transform: translateX(-50%);
}

.fade-in-right > img {
  transform: translateX(50%);
}

.fade-in-top > img {
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.8s ease-out;
}

.fade-in-bottom > img {
  transform: translateY(50%);
  opacity: 0;
  transition: all 0.8s ease-out;
}

.image-card.visible > img {
  opacity: 1;
  transform: translateX(0);
}

.wedding-day-map {
  text-align: center;
  font-size: var(--fs-5xl);
  font-family: var(--ff-sans-serif-armenia);
  margin-bottom: 16px;
}

.map-card {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 800px;
  gap: 16px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.map-img {
  flex-shrink: 0;
  width: 240px;
  height: 240px;
  border-radius: 12px;
  overflow: hidden;
}

.map-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: color-burn;
}

.map-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  max-width: 100%;
  flex: 1;
}

.map-title {
  color: var(--secondary-text-color, #444);
  font-weight: bold;
  font-size: var(--fs-3xl, 24px);
}

time.map-time {
  font-size: var(--fs-2xl, 20px);
  color: var(--primary-color, #000);
  font-weight: 600;
}

.map-address {
  font-size: var(--fs-md, 16px);
  color: var(--text-color, #333);
  text-align: start;
}

/* .map-address-btn a {
  display: inline-block;
  padding: 8px 32px;
  background-color: transparent;
  border: 1px solid var(--main-text-color);
  border-radius: 25px;
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
}

.map-address-btn a:hover {
  background-color: var(--secondary-text-color);
  color: #fff;
  border-color: var(--secondary-text-color);
}

.map-address-btn a:active {
  transform: scale(0.97);
  background-color: var(--primary-text-color);
  border-color: var(--primary-text-color);
  color: #fff;
} */

h1.sans-serif-armenia {
  font-family: sans-serif-armenia;
  line-height: normal;
  color: black;
}

h1.braind-gyumri {
  font-family: brand-gyumri;
  line-height: normal;
  color: black;
}

h1.montserrat-arm {
  font-family: montserrat-arm;
  line-height: normal;
  color: black;
}
h1.poqrik {
  font-family: poqrik;
  line-height: normal;
  color: black;
}
h1.SHK-Dzeragir {
  font-family: deragir;
  line-height: normal;
  color: black;
}

h1.vrdznagir {
  font-family: vrdznagir;
  line-height: normal;
  color: black;
}

h1.all {
  font-family: arm-all-allegro;
  line-height: normal;
  color: black;
}

.location-card {
  margin: 24px auto;
  padding: 16px;
  border-radius: 16px;
  overflow: hidden;
}

.location-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.location-image {
  max-width: 600px;
  height: 450px;
  padding: 16px 0;
  margin: 0 auto;
}

.location-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location-map {
  max-width: 600px;
  text-align: center;
  margin: 16px auto 0;
}
.location-map iframe {
  width: 100%;
  height: 350px;
  border: 0;
}

.guest-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.guest-form label {
  font-weight: 600;
  color: #333;
}

.guest-form input,
.guest-form select {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.guest-form input:focus,
.guest-form select:focus {
  outline: none;
  border-color: #888;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.whatsapp-button,
.telegram-button {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  color: white;
}

.whatsapp-button {
  background-color: #25d366;
}

.whatsapp-button:hover {
  background-color: #1ebe5d;
}

.telegram-button {
  background-color: #0088cc;
}

.telegram-button:hover {
  background-color: #007ab8;
}

@media screen and (max-width: 425px) {
  .header-wedding-timer {
    font-size: var(--fs-md);
  }

  h1 {
    font-size: var(--fs-5xl);
  }

  .time-card {
    font-size: var(--fs-lg);
    padding: 0;
  }

  .time-card p:first-child {
    font-size: var(--fs-lg);
  }

  .section-wedding-day-offer p {
    font-size: var(--fs-lg);
  }

  .section-wedding-day-offer .section-wedding-day {
    font-size: var(--fs-2xl);
  }

  h2.wedding-day-map {
    font-size: var(--fs-xl);
  }

  .map-title {
    font-size: var(--fs-lg);
  }

  time.map-time {
    font-size: var(--fs-lg);
  }

  .map-address {
    font-size: var(--fs-sm);
  }
}

@media screen and (max-width: 768px) {
  h1 {
    line-height: 135vh;
    font-size: var(--fs-6xl);
  }
  .map-card {
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .map-title {
    text-align: center;
  }
  .map-address {
    text-align: center;
  }

  .time-card {
    font-size: var(--fs-lg);
    text-align: center;
  }

  .time-card:first-child {
    font-size: var(--fs-lg);
    text-align: center;
  }

  h3 {
    font-size: var(--fs-md);
  }
}
